@use "../utils/variables" as *;

.branding-works {
  background-color: $surface;
  
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .card-blog {
    margin-inline: auto;
    max-width: none;
    width: 100%;
  }
}

@media (width < $media-lg) {
  .branding-works {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (width < $media-md) {
  .branding-works {
    &__grid {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }
}
