@use "../utils/variables" as *;

$safe-padding: 10px;

.responsive-container {
  margin-inline: auto;
  max-width: calc($container + $safe-padding);
  padding-inline: calc($safe-padding / 2);
}

@media (max-width: calc($container + 10px)) { // depends on parent padding-inline
  .responsive-container {
    max-width: calc($media-xl + 10px);
  }
}

@media (max-width: calc($Dmedia-xl + 10px)) {
  .responsive-container {
    max-width: calc($media-lg + 10px);
  }
}

@media (max-width: calc($Dmedia-lg + 10px)) {
  .responsive-container {
    max-width: calc($media-md + 8px);
    padding-inline: 4px;
  }
}

@media (max-width: calc($Dmedia-md + 8px)) {
  .responsive-container {
    width: 100%;
    margin-inline: 0px;
  }
}

@media (max-width: calc($Dmedia-sm + 8px)) {
  .responsive-container {
    padding-inline: 2px;
  }
}
