@use "../utils/variables" as *;

$safe-padding: 16px;

.responsive-container {
  margin-inline: auto;
  max-width: calc($container + $safe-padding);
  padding-inline: calc($safe-padding / 2);
}

@media (max-width: $container) { // depends on parent padding-inline
  .responsive-container {
    max-width: calc($media-xl + $safe-padding);
  }
}

@media (max-width: $Dmedia-xl) {
  .responsive-container {
    max-width: calc($media-lg + $safe-padding);
  }
}

@media (max-width: $Dmedia-lg) {
  .responsive-container {
    max-width: calc($media-md + $safe-padding);
  }
}

@media (max-width: $Dmedia-md) {
  .responsive-container {
    width: 100%;
  }
}

@media (max-width: $Dmedia-sm) {
  .responsive-container {
  }
}
