@use "utils/variables" as *;

body,
html {
  background-color: $page;
}

body {
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100dvh;
}
.grow {
  flex-grow: 1;
}

body.scroll-lock {
  height: 100%;
  overflow: hidden;
}

.base-section {
  padding-block: 80px;
}

@media (max-width: $Dmedia-lg) {
  .base-section {
    padding-block: 64px;
  }
}
@media (max-width: $Dmedia-md) {
  .base-section {
    padding-block: 48px;
  }
}
@media (max-width: $Dmedia-sm) {
  .base-section {
    padding-block: 32px;
  }
}

.text-gradient-brand {
  background: linear-gradient(to right, $grad-start, $grad-middle, $grad-end);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
