@use 'utils/variables' as *;

body, html {
  background-color: $page;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100dvh;
}
.grow {
  flex-grow: 1;
}

body.scroll-lock {
  height: 100%;
  overflow: hidden;
}



.base-section {
  padding-block: 60px;
}
